## Import the necessary packages

In [1]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\bisol\anaconda3\lib\site-packages (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\bisol\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\bisol\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\bisol\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\bisol\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\bisol\anaconda3\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\bisol\anaconda3\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\bisol\anaconda3\lib\site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\bisol\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\bisol\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\bisol\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [1]:
import pandas as pd
import numpy as np

## Read the data into a data frame

Create column headers

In [2]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

In [3]:
df = pd.read_csv('./data.csv', names=headers)

#### View the data

In [ ]:
df.head()

## Handling missing values

### Replace the missing values with NaN (Not a Number) which is Python's default missing value marker for reason's of computational speed and convinience

In [4]:
df.replace("?", np.nan, inplace=True)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

#### There are several ways to check for missing values.

1. using the .isnull().any() function to check for missing values accross each column or .isnull().any().any() function accross the whole dataframe

In [ ]:
df.isnull().any().any()

**'True'** indicates that there are indeed missing values. Going further to use the .isnull().sum() function returns the number of missing values in each column.

In [ ]:
df.isnull().sum()

2. Create a temporary data frame to show missing values as boolean values using the .isnull() function.

In [ ]:
missing_data = df.isnull()
missing_data

Note that the .notnull() function can also be used but will show the result in opposite.

In [ ]:
missing_data_2 = df.notnull()
missing_data_2

Count the number of missing values per column

In [ ]:
for column in missing_data.columns.values.tolist():
    # print(column)
    print(missing_data[column].value_counts())
    print('\n')

### Treating the missing values

#### Ways to deal with missing values

Drop data
* Drop the whole row
* Drop the whole column

Replace data
* Replace it by mean (for numerical data)
* Replace it by frequency (for categorical data)
* Replace it based on other functions

Therefore, the following columns will be replaced and dropped accordingly:

1. normalized-losses (replace with mean)
2. num-of-doors (replace with frequency)
3. bore (replace with mean)
4. stroke (replace with mean)
5. horsepower (replace with mean)
6. peak-rpm (replace with mean)
7. price (drop the rows with missing values. This is because we want to predict the price of the cars and entries with out prices are not useful)

#### Replacing with the mean - normalized-losses, bore, stroke, horsepower and peak-rpm

In [5]:
avg_normalized_losses = df['normalized-losses'].astype('float').mean(axis=0)
avg_normalized_losses

122.0

In [6]:
df['normalized-losses'] = df['normalized-losses'].replace(np.nan, avg_normalized_losses)
df['normalized-losses'].isnull().any()

False

In [7]:
avg_bore = df['bore'].astype('float').mean(axis=0)
avg_bore

3.3297512437810943

In [9]:
df['bore'] = df['bore'].replace(np.nan, avg_bore)
df['bore'].isnull().any()

False

In [10]:
avg_stroke = df['stroke'].astype('float').mean(axis=0)
avg_stroke

3.255422885572139

In [11]:

df['stroke'] = df['stroke'].replace(np.nan, avg_stroke)
df['stroke'].isnull().any()

False

In [12]:
avg_horsepower = df['horsepower'].astype('float').mean(axis=0)
avg_horsepower

104.25615763546799

In [13]:
df['horsepower'] = df['horsepower'].replace(np.nan, avg_horsepower)
df['horsepower'].isnull().any()

False

In [14]:
avg_peak_rpm = df['peak-rpm'].astype('float').mean(axis=0)
avg_peak_rpm

5125.369458128079

In [15]:
df['peak-rpm'] = df['peak-rpm'].replace(np.nan, avg_peak_rpm)
df['peak-rpm'].isnull().any()

False

#### Replacing with the frequency - num-of-doors

In [ ]:
df['num-of-doors'].value_counts()

In [ ]:
df['num-of-doors'].value_counts().idxmax()

In [16]:
df['num-of-doors'] = df['num-of-doors'].replace(np.nan, df['num-of-doors'].value_counts().idxmax())

#### Drop row data - price

In [17]:
df.dropna(subset=['price'], axis=0, inplace=True)

Note: Reset the index of the data frame because two rows were dropped.

In [18]:
df.reset_index(drop=True, inplace=True)

In [19]:
df['price'].isnull().any()

False

### Data type conversion

#### View the data types of each column

In [ ]:
df.dtypes

The data types of the following columns should be converted from 'object' to 'float'.

1. bore
2. stroke
3. horsepower
4. peak-rpm
5. price

In [20]:
df[['bore', 'stroke', 'horsepower', 'peak-rpm', 'price']] = df[['bore', 'stroke', 'horsepower', 'peak-rpm', 'price']].astype('float')

And the data type of the 'normalized-losses' should be converted from 'object' to 'int'.

In [21]:
df[['normalized-losses']] = df[['normalized-losses']].astype('int')

In [ ]:
df.dtypes

## Data Standardization

This is the process of transforming data into a common format to allow for meaningful comparisons. In this study, we will assume that this analysis is for a country that measures in L/100km. Hence, the fuel consumption columns 'city-mpg' and 'highway-mpg' will be standardized from 'mpg' to 'L/100km'.

In [22]:
df['city-mpg'] = 235/df['city-mpg']

In [23]:
df.rename(columns={'city-mpg': 'city-L/100km'}, inplace=True)

In [24]:
df['highway-mpg'] = 235/df['highway-mpg']

In [25]:
df.rename(columns={'highway-mpg':'highway-L/100km'}, inplace=True)

In [26]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-L/100km,highway-L/100km,price
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,11.190476,8.703704,13495.0
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,11.190476,8.703704,16500.0
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,12.368421,9.038462,16500.0
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,9.791667,7.833333,13950.0
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,13.055556,10.681818,17450.0

## Data Normalization

This is the process of transforming values of several variables into a similar range. Typical normalizations include

* scaling the variable so the variable average is 0
* scaling the variable so the variance is 1
* scaling the variable so the variable values range from 0 to 1

In this study, we will be normalizing the 'length', 'width', and 'height' variables so that the values range from 0 to 1. To achieve this, we will be dividing each column value by the maximum value in the column.

In [ ]:
# Before normalization
df[['length', 'width', 'height']]

In [27]:
df['length'] = df['length']/df['length'].max()
df['width'] = df['width']/df['width'].max()
df['height'] = df['height']/df['height'].max()

In [28]:
# After normalization
df[['length', 'width', 'height']]

       length     width    height
0    0.811148  0.890278  0.816054
1    0.811148  0.890278  0.816054
2    0.822681  0.909722  0.876254
3    0.848630  0.919444  0.908027
4    0.848630  0.922222  0.908027
..        ...       ...       ...
196  0.907256  0.956944  0.928094
197  0.907256  0.955556  0.928094
198  0.907256  0.956944  0.928094
199  0.907256  0.956944  0.928094
200  0.907256  0.956944  0.928094

[201 rows x 3 columns]

## Generate a statistical summary of the data

In [ ]:
df.describe(include='all')

In [ ]:
df.info()

## Binning

This is the process of transforming continuous numeric data into discrete categorical 'bins' for grouped analysis.

In [29]:
df.horsepower.nunique()

59

In [30]:
df.horsepower.min()

48.0

In [31]:
df.horsepower.max()

262.0

Say we only cared for car prices with high, medium and low horsepower, we can create 3 bins for this purpose.

In [32]:
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot

plt.pyplot.hist(df.horsepower)

plt.pyplot.xlabel('horsepower')
plt.pyplot.ylabel('count')
plt.pyplot.title('horsepower bins')

ModuleNotFoundError: No module named 'matplotlib'